/* HAICHAN EXTREME CUSTOM STYLES */

.extreme-bordered-text {
    border: var(--border-width) solid var(--neutral-4);
    border-radius: var(--border-radius);
    padding: var(--space-2);
}

.extreme-bordered-block {
    border: var(--border-width) solid var(--neutral-4);
    border-radius: var(--border-radius);
    padding: var(--space-4);
}